USE [master]
GO
/****** Object:  Database [RRHH]    Script Date: 29/08/2026 14:01:39 ******/
CREATE DATABASE [RRHH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RRHH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RRHH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RRHH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RRHH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RRHH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RRHH]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 29/08/2026 14:01:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[CreadoEn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnexosEmpleados]    Script Date: 29/08/2026 14:01:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnexosEmpleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[NombreOriginal] [nvarchar](255) NOT NULL,
	[NombreArchivo] [nvarchar](255) NOT NULL,
	[TipoArchivo] [nvarchar](50) NOT NULL,
	[FechaSubida] [datetime] NULL,
	[TipoDocumento] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 29/08/2026 14:01:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroRH] [varchar](20) NULL,
	[Cedula] [varchar](20) NULL,
	[Nombre] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Sexo] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[Edad] [int] NULL,
	[NumeroTelefonico] [varchar](20) NULL,
	[Correo] [varchar](100) NULL,
	[FechaIngreso] [date] NULL,
	[FechaSalida] [date] NULL,
	[GrupoOcupacional] [varchar](100) NULL,
	[AFP] [varchar](100) NULL,
	[ARS] [varchar](100) NULL,
	[Vacaciones] [int] NULL,
	[LicenciasMedicas] [int] NULL,
	[Faltas] [int] NULL,
	[Estatus] [varchar](50) NULL,
	[CargoInicial] [varchar](100) NULL,
	[SalarioInicial] [decimal](10, 2) NULL,
	[CargoActual] [varchar](100) NULL,
	[SalarioActual] [decimal](10, 2) NULL,
	[Itinerario] [varchar](100) NULL,
	[SalarioItinerario] [decimal](10, 2) NULL,
	[Expediente] [varchar](100) NULL,
	[SalarioTotal] [decimal](10, 2) NULL,
	[TiempoEnEstado] [date] NULL,
	[TiempoEnEstadoValor] [int] NULL,
	[TiempoEnEstadoUnidad] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEmpleados]    Script Date: 29/08/2026 14:01:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEmpleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Campo] [nvarchar](100) NOT NULL,
	[ValorAnterior] [nvarchar](500) NULL,
	[ValorNuevo] [nvarchar](500) NULL,
	[FechaHora] [datetime] NULL,
	[UsuarioAdmin] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacacionesEmpleados]    Script Date: 29/08/2026 14:01:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacacionesEmpleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[DiasCorresponden] [int] NOT NULL,
	[AniosServicio] [int] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[FechaRegistro] [datetime] NULL,
	[Cancelada] [bit] NULL,
	[FechaCancelacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administradores] ADD  DEFAULT (getdate()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[AnexosEmpleados] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[HistorialEmpleados] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[VacacionesEmpleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[VacacionesEmpleados] ADD  DEFAULT ((0)) FOR [Cancelada]
GO
ALTER TABLE [dbo].[AnexosEmpleados]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Empleados] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialEmpleados] CHECK CONSTRAINT [FK_Historial_Empleados]
GO
ALTER TABLE [dbo].[VacacionesEmpleados]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
